# Frontend
/frontend/node_modules/
/frontend/.env

# Backend
/backend/target/
/backend/.env
/backend/.idea/
/backend/*.iml

# Wear OS
/wearos/.gradle/
/wearos/.idea/
/wearos/local.properties
/wearos/.cxx/
/wearos/build/

# Global
.DS_Store
Thumbs.db
*.log

/backend/ai-prediction-service/src/main/resources/application.properties
/backend/alert_service/src/main/resources/application.properties
/backend/auth-service/src/main/resources/application.properties
/backend/user-service/src/main/resources/application.properties
/backend/health-data-service/src/main/resources/application.properties